documents/XML_DTD/DTDS 2/u-bibdat.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- (u-bibdat.dtd)
Revision History

******************************************
Date:        4/00
Version:     pre-0.0.1
Author:      AWB
Description:
1. Element "postal code": changed zip to postalcode
2. Element "military-service": added to structure of residence,changed structure
    of parent elements to (military-service | (city,(state|country), citizenship))
3. Element "document-id": changed last 3 children to be optional; added class attribute.
4. Element "correspondence-address": made email, telephone, and fax children
    zero-or-more (*). changed name of element to address. renamed child under party element.
5. Element "document-date": removed data-format attribute.
6. Element "name": added class attribute ("name")
7. Element "middle-name": changed label to read "[Middle Name:] "
8. Element "country": changed redbook_data-value attribute enumerated value list to
    WIPO ST 3. changed attribute name "redbook_data-value" to "wipo_st3_data-value"
9. Element "state": changed content to PCDATA. Removed redbook_data-value attribute.
************************************************************
Date:        6/00
Version:     0.0.1
Author:      AWB
Description:
1. added element "application-number" after title-of-invention-simple
******************************************************************
Date:        6/28/00
Version:     0.0.2
Author:      AWB
Description:
1. Element "name": removed refernece-number from name structure.
******************************************************************
Date:        7/14/00
Version:     0.0.3
Author:      AWB
Description:
1. DTD fatory changes not noticable in present DTD
******************************************************************
Date         7/27/00
Version:     0.0.4
Author:      AWB
Description:
1. Element "application-type": changed values attribute to only
    list the values "utility" and "plant"
**********************************************************************
Date:        8/03/00
Version:     0.0.5
Author:      AWB
Description:
1. Element "bibd.bibdata-block": added structure of botanic-information
    to bibd.bibdata-block including its children: latin-name, and variety-denomination.
2. Element "total-figures": removed total-figures element from publication-requiest-block
    (was after publication-filing-type)
****************************************************************************
Date:        8/17/00
Version:     0.0.6
Author:      AWB
Description:
1. Element "bibd.appointment-block": made subject element optional.
2. Element "attorney-or-agent": made subject element one-or-more
3. Element "customer-number-correspondence": made subject element optional.
***************************************************************************
Date:        8/23/00
Version:     0.0.7
Author:      AWB
Description:
1. Element "publication-filing-type":
    changed the enumerated list of values for the "values" attribute.
    (new-utility | voluntary | original-publication-amended |
    original-publication-redacted | republication-amended |
    republication-redacted | corrected )
**************************************************************************
Date:        8/24/00
Version:     0.0.8
Author:      AWB
Description:
1. Element "bibd-transmittal": restored id attribute mistakenly removed
2. added this revision history block; DTDs removed from factory production
****************************************************************************
Date:        9/8/00
Version:     0.0.9
Author:      AWB
Description:
1. Element "application-number", attribute "data-format" attribute: changed
    all format possibilities to have 8 digits as per the u-transm.dtd
2. Element "bibd.appointment-block": made child element representative-under-37-cfr-10.9 optional
3. Element "assignee": made child element address optional
4. Element "residence": changed child structure;
    added 'us' and 'non-us' address groups: 'us' has 'state' element, 'non-us' does not.
5. Element "citizenship": moved under 'us' and 'non-us'
****************************************************************************
Date:        9/26/00
Version:     0.0.10
Author:      AWB
Description:
1. Element bibd.bibdata-block: made child element application-number optional
2. Added entity UNKNOWN, Unicode value of 9608.
****************************************************************************
Date:        10/12/00
Version:     0.0.11
Author:      AWB
Description:
1. Created foreign-application-number element, without format attribute, and made
   it the first child of foreign-invention-claim, replacing application-number.
****************************************************************************
-->


<!--PUBLIC "-//USPTO//DTD TEAM Project bibd-transmittal-2000-10-12 Doctype//EN"-->

<!-- General unknown UNICODE characters will be replaced by the following entity reference -->
<!-- FYI, the name will be in ALL CAPS for ease of finding when looking at XML files in text editors -->
<!ENTITY UNKNOWN "&#9608;">

<!-- Insert UNICODE/ISO character sets here -->
<!-- ISOgrk1 -->
<!-- This version of the entity set can be used with any SGML document
     which uses ISO 10646 as its document character set.
     This includes XML documents and ISO HTML documents.

     Creator: Rick Jelliffe, from HTMLlat1

     Version: 1997-07-07
-->
<!-- Added to conform to XML spec. Do NOT open and save using Near and Far,
	these escape sequences will be replaced with literals. BA 5/3/00 -->
<!ENTITY apos "&#39;">


<!-- Portions (c) International Organization for Standardization 1986
     Permission to copy in any form is granted for use with
     conforming SGML systems and applications as defined in
     ISO 8879, provided this notice is included in all copies.
-->

<!ENTITY nbsp   "&#160;">
<!ENTITY iexcl  "&#161;">
<!ENTITY cent   "&#162;">
<!ENTITY pound  "&#163;">
<!ENTITY curren "&#164;">
<!ENTITY yen    "&#165;">
<!ENTITY brvbar "&#166;">
<!ENTITY sect   "&#167;">
<!ENTITY uml    "&#168;">
<!ENTITY copy   "&#169;">
<!ENTITY ordf   "&#170;">
<!ENTITY laquo  "&#171;">
<!ENTITY not    "&#172;">
<!ENTITY shy    "&#173;">
<!ENTITY reg    "&#174;">
<!ENTITY macr   "&#175;">
<!ENTITY deg    "&#176;">
<!ENTITY plusmn "&#177;">
<!ENTITY sup2   "&#178;">
<!ENTITY sup3   "&#179;">
<!ENTITY acute  "&#180;">
<!ENTITY micro  "&#181;">
<!ENTITY para   "&#182;">
<!ENTITY middot "&#183;">
<!ENTITY cedil  "&#184;">
<!ENTITY sup1   "&#185;">
<!ENTITY ordm   "&#186;">
<!ENTITY raquo  "&#187;">
<!ENTITY frac14 "&#188;">
<!ENTITY frac12 "&#189;">
<!ENTITY frac34 "&#190;">
<!ENTITY iquest "&#191;">
<!ENTITY Agrave "&#192;">
<!ENTITY Aacute "&#193;">
<!ENTITY Acirc  "&#194;">
<!ENTITY Atilde "&#195;">
<!ENTITY Auml   "&#196;">
<!ENTITY Aring  "&#197;">
<!ENTITY AElig  "&#198;">
<!ENTITY Ccedil "&#199;">
<!ENTITY Egrave "&#200;">
<!ENTITY Eacute "&#201;">
<!ENTITY Ecirc  "&#202;">
<!ENTITY Euml   "&#203;">
<!ENTITY Igrave "&#204;">
<!ENTITY Iacute "&#205;">
<!ENTITY Icirc  "&#206;">
<!ENTITY Iuml   "&#207;">
<!ENTITY ETH    "&#208;">
<!ENTITY Ntilde "&#209;">
<!ENTITY Ograve "&#210;">
<!ENTITY Oacute "&#211;">
<!ENTITY Ocirc  "&#212;">
<!ENTITY Otilde "&#213;">
<!ENTITY Ouml   "&#214;">
<!ENTITY times  "&#215;">
<!ENTITY Oslash "&#216;">
<!ENTITY Ugrave "&#217;">
<!ENTITY Uacute "&#218;">
<!ENTITY Ucirc  "&#219;">
<!ENTITY Uuml   "&#220;">
<!ENTITY Yacute "&#221;">
<!ENTITY THORN  "&#222;">
<!ENTITY szlig  "&#223;">
<!ENTITY agrave "&#224;">
<!ENTITY aacute "&#225;">
<!ENTITY acirc  "&#226;">
<!ENTITY atilde "&#227;">
<!ENTITY auml   "&#228;">
<!ENTITY aring  "&#229;">
<!ENTITY aelig  "&#230;">
<!ENTITY ccedil "&#231;">
<!ENTITY egrave "&#232;">
<!ENTITY eacute "&#233;">
<!ENTITY ecirc  "&#234;">
<!ENTITY euml   "&#235;">
<!ENTITY igrave "&#236;">
<!ENTITY iacute "&#237;">
<!ENTITY icirc  "&#238;">
<!ENTITY iuml   "&#239;">
<!ENTITY eth    "&#240;">
<!ENTITY ntilde "&#241;">
<!ENTITY ograve "&#242;">
<!ENTITY oacute "&#243;">
<!ENTITY ocirc  "&#244;">
<!ENTITY otilde "&#245;">
<!ENTITY ouml   "&#246;">
<!ENTITY divide "&#247;">
<!ENTITY oslash "&#248;">
<!ENTITY ugrave "&#249;">
<!ENTITY uacute "&#250;">
<!ENTITY ucirc  "&#251;">
<!ENTITY uuml   "&#252;">
<!ENTITY yacute "&#253;">
<!ENTITY thorn  "&#254;">
<!ENTITY yuml   "&#255;">


<!-- Mathematical, Greek and Symbolic characters for HTML -->

<!-- Portions (c) International Organization for Standardization 1986:
     Permission to copy in any form is granted for use with
     conforming SGML systems and applications as defined in
     ISO 8879, provided this notice is included in all copies.
-->

<!-- Relevant ISO entity set is given unless names are newly introduced.
     New names (i.e., not in ISO 8879 list) do not clash with any
     existing ISO 8879 entity names. ISO 10646 character numbers
     are given for each character, in hex. CDATA values are decimal
     conversions of the ISO 10646 values and refer to the document
     character set. Names are Unicode 2.0 names.

-->

<!-- Latin Extended-B -->
<!ENTITY fnof     "&#402;">

<!-- Greek -->
<!ENTITY Alpha    "&#913;">
<!ENTITY Beta     "&#914;">
<!ENTITY Gamma    "&#915;">
<!ENTITY Delta    "&#916;">
<!ENTITY Epsilon  "&#917;">
<!ENTITY Zeta     "&#918;">
<!ENTITY Eta      "&#919;">
<!ENTITY Theta    "&#920;">
<!ENTITY Iota     "&#921;">
<!ENTITY Kappa    "&#922;">
<!ENTITY Lambda   "&#923;">
<!ENTITY Mu       "&#924;">
<!ENTITY Nu       "&#925;">
<!ENTITY Xi       "&#926;">
<!ENTITY Omicron  "&#927;">
<!ENTITY Pi       "&#928;">
<!ENTITY Rho      "&#929;">
<!-- (there is no Sigmaf, and no u+03A2 character either) -->
<!ENTITY Sigma    "&#931;">
<!ENTITY Tau      "&#932;">
<!ENTITY Upsilon     "&#933;">
<!ENTITY Phi      "&#934;">
<!ENTITY Chi      "&#935;">
<!ENTITY Psi      "&#936;">
<!ENTITY Omega    "&#937;">

<!ENTITY alpha    "&#945;">
<!ENTITY beta     "&#946;">
<!ENTITY gamma    "&#947;">
<!ENTITY delta    "&#948;">
<!ENTITY epsilon     "&#949;">
<!ENTITY zeta     "&#950;">
<!ENTITY eta      "&#951;">
<!ENTITY theta    "&#952;">
<!ENTITY iota     "&#953;">
<!ENTITY kappa    "&#954;">
<!ENTITY lambda   "&#955;">
<!ENTITY mu       "&#956;">
<!ENTITY nu       "&#957;">
<!ENTITY xi       "&#958;">
<!ENTITY omicron  "&#959;">
<!ENTITY pi       "&#960;">
<!ENTITY rho      "&#961;">
<!ENTITY sigmaf   "&#962;">
<!ENTITY sigma    "&#963;">
<!ENTITY tau      "&#964;">
<!ENTITY upsilon     "&#965;">
<!ENTITY phi      "&#966;">
<!ENTITY chi      "&#967;">
<!ENTITY psi      "&#968;">
<!ENTITY omega    "&#969;">
<!ENTITY thetasym    "&#977;">
<!ENTITY upsih    "&#978;">
<!ENTITY piv      "&#982;">

<!-- General Punctuation -->
<!ENTITY bull     "&#8226;">
<!-- bullet is NOT the same as bullet operator, u+2219 -->
<!ENTITY hellip   "&#8230;">
<!ENTITY prime    "&#8242;">
<!ENTITY Prime    "&#8243;">
<!ENTITY oline    "&#8254;">
<!ENTITY frasl    "&#8260;">

<!-- Letterlike Symbols -->
<!ENTITY weierp   "&#8472;">
<!ENTITY image    "&#8465;">
<!ENTITY real     "&#8476;">
<!ENTITY trade    "&#8482;">
<!ENTITY alefsym  "&#8501;">
<!-- alef symbol is NOT the same as hebrew letter alef, u+05D0 although the same glyph
     could be used to depict both characters -->

<!-- Arrows -->
<!ENTITY larr     "&#8592;">
<!ENTITY uarr     "&#8593;">
<!ENTITY rarr     "&#8594;">
<!ENTITY darr     "&#8595;">
<!ENTITY harr     "&#8596;">
<!ENTITY crarr    "&#8629;">
<!ENTITY lArr     "&#8656;">
<!-- Unicode does not say that lArr is the same as the 'is implied by' arrow but also
     does not have any other character for that function. So ? lArr can be used for
     'is implied by' as ISOtech suggests -->
<!ENTITY uArr     "&#8657;">
<!ENTITY rArr     "&#8658;">
<!-- Unicode does not say this is the 'implies' character but does not have another
     character with this function so ? rArr can be used for 'implies' as ISOtech suggests -->
<!ENTITY dArr     "&#8659;">
<!ENTITY hArr     "&#8660;">

<!-- Mathematical Operators -->
<!ENTITY forall   "&#8704;">
<!ENTITY part     "&#8706;">
<!ENTITY exist    "&#8707;">
<!ENTITY empty    "&#8709;">
<!ENTITY nabla    "&#8711;">
<!ENTITY isin     "&#8712;">
<!ENTITY notin    "&#8713;">
<!ENTITY ni       "&#8715;">
<!-- should there be a more memorable name than 'ni'? -->
<!ENTITY prod     "&#8719;">
<!-- prod is NOT the same character as u+03A0 'greek capital letter pi' though the same
     glyph might be used for both -->
<!ENTITY sum      "&#8721;">
<!-- sum is NOT the same character as u+03A3 'greek capital letter sigma' though the same
     glyph might be used for both -->
<!ENTITY minus    "&#8722;">
<!ENTITY lowast   "&#8727;">
<!ENTITY radic    "&#8730;">
<!ENTITY prop     "&#8733;">
<!ENTITY infin    "&#8734;">
<!ENTITY ang      "&#8736;">
<!ENTITY and      "&#8869;">
<!ENTITY or       "&#8870;">
<!ENTITY cap      "&#8745;">
<!ENTITY cup      "&#8746;">
<!ENTITY int      "&#8747;">
<!ENTITY there4   "&#8756;">
<!ENTITY sim      "&#8764;">
<!-- tilde operator is NOT the same character as the tilde, u+007E, although the same
     glyph might be used to represent both  -->
<!ENTITY cong     "&#8773;">
<!ENTITY asymp    "&#8776;">
<!ENTITY ne       "&#8800;">
<!ENTITY equiv    "&#8801;">
<!ENTITY le       "&#8804;">
<!ENTITY ge       "&#8805;">
<!ENTITY sub      "&#8834;">
<!ENTITY sup      "&#8835;">
<!-- note that nsup, 'not a superset of, u+2283' is not covered by the Symbol font
     encoding and is not included. Should it be, for symmetry? It is in ISOamsn  -->
<!ENTITY nsub     "&#8836;">
<!ENTITY sube     "&#8838;">
<!ENTITY supe     "&#8839;">
<!ENTITY oplus    "&#8853;">
<!ENTITY otimes   "&#8855;">
<!ENTITY perp     "&#8869;">
<!ENTITY sdot     "&#8901;">
<!-- dot operator is NOT the same character as u+00B7 middle dot -->

<!-- Miscellaneous Technical -->
<!ENTITY lceil    "&#8968;">
<!ENTITY rceil    "&#8969;">
<!ENTITY lfloor   "&#8970;">
<!ENTITY rfloor   "&#8971;">
<!ENTITY lang     "&#9001;">
<!-- lang is NOT the same character as u+003C 'less than'
     or u+2039 'single left-pointing angle quotation mark' -->
<!ENTITY rang     "&#9002;">
<!-- rang is NOT the same character as u+003E 'greater than'
     or u+203A 'single right-pointing angle quotation mark' -->

<!-- Geometric Shapes -->
<!ENTITY loz      "&#9674;">

<!-- Miscellaneous Symbols -->
<!ENTITY spades   "&#9824;">
<!-- black here seems to mean filled as opposed to hollow -->
<!ENTITY clubs    "&#9827;">
<!ENTITY hearts   "&#9829;">
<!ENTITY diams    "&#9830;">


<!-- Special characters for HTML -->

<!-- Portions (c) International Organization for Standardization 1986:
     Permission to copy in any form is granted for use with
     conforming SGML systems and applications as defined in
     ISO 8879, provided this notice is included in all copies.
-->

<!-- Relevant ISO entity set is given unless names are newly introduced.
     New names (i.e., not in ISO 8879 list) do not clash with any
     existing ISO 8879 entity names. ISO 10646 character numbers
     are given for each character, in hex. CDATA values are decimal
     conversions of the ISO 10646 values and refer to the document
     character set. Names are Unicode 2.0 names.

-->


<!-- Latin Extended-A -->
<!ENTITY OElig   "&#338;">
<!ENTITY oelig   "&#339;">
<!-- ligature is a misnomer, this is a separate character in some languages -->
<!ENTITY Scaron  "&#352;">
<!ENTITY scaron  "&#353;">
<!ENTITY Yuml    "&#376;">

<!-- Spacing Modifier Letters -->
<!ENTITY circ    "&#710;">
<!ENTITY tilde   "&#732;">

<!-- General Punctuation -->
<!ENTITY ensp    "&#8194;">
<!ENTITY emsp    "&#8195;">
<!ENTITY thinsp  "&#8201;">
<!ENTITY zwnj    "&#8204;">
<!ENTITY zwj     "&#8205;">
<!ENTITY lrm     "&#8206;">
<!ENTITY rlm     "&#8207;">
<!ENTITY ndash   "&#8211;">
<!ENTITY mdash   "&#8212;">
<!ENTITY lsquo   "&#8216;">
<!ENTITY rsquo   "&#8217;">
<!ENTITY sbquo   "&#8218;">
<!ENTITY ldquo   "&#8220;">
<!ENTITY rdquo   "&#8221;">
<!ENTITY bdquo   "&#8222;">
<!ENTITY dagger  "&#8224;">
<!ENTITY Dagger  "&#8225;">
<!ENTITY permil  "&#8240;">
<!ENTITY lsaquo  "&#8249;">
<!-- lsaquo is proposed but not yet ISO standardised -->
<!ENTITY rsaquo  "&#8250;">
<!-- rsaquo is proposed but not yet ISO standardised -->

<!ELEMENT bibd-transmittal  (bibd.template-title-block,bibd.bibdata-block) >

<!ATTLIST bibd-transmittal
               id  ID    #REQUIRED
               label  CDATA    #FIXED "[BibData Transmittal:] "
               class  CDATA    #FIXED "legal-instrument" >

<!ELEMENT bibd.template-title-block  (bibd.title,bibd.version) >

<!ATTLIST bibd.template-title-block
               label  CDATA    #FIXED "[Title Block:] "
               class  CDATA    #FIXED "template-id" >

<!ELEMENT bibd.title   EMPTY  >

<!ATTLIST bibd.title
               label  CDATA    #FIXED "[Title:] "
               class  CDATA    #FIXED "title"
               text  CDATA    #FIXED "BIBDATA" >

<!ELEMENT bibd.version   EMPTY  >

<!ATTLIST bibd.version
               label  CDATA    #FIXED "[Version:] "
               class  CDATA    #FIXED "version"
               version  CDATA    #FIXED "[Electronic Version 0.0.11] "

               distribution  CDATA    #FIXED "2000-10-12" >

<!-- 9/26/00 Made application-number optional -->
<!ELEMENT bibd.bibdata-block  (title-of-invention-simple,application-number?,
               application-type,botanic-information?,publication-request-block,
               inventor-block,attorney-docket-number?,correspondence-address?,
               assignee?,continuity-information,foreign-priority-benefits?,
               bibd.appointment-block?,customer-number-correspondence?,
               application-filing-date?,filing-as-small-entity?) >

<!ATTLIST bibd.bibdata-block
               label  CDATA    #FIXED "[Bibdata Block:] " >

<!ELEMENT title-of-invention-simple  (#PCDATA) >

<!ATTLIST title-of-invention-simple
               id  ID    #REQUIRED
               class  CDATA    #FIXED "title"
               label  CDATA    #FIXED "[Title of Invention:] " >

<!ELEMENT application-number  (#PCDATA) >

<!ATTLIST application-number
               label  CDATA    #FIXED "[Application No:] "
               class  CDATA    #FIXED "primitive"
               data-format  CDATA    #FIXED "##/###,###|########|##/######"
                >

<!-- 10/12/00 - Made foreign-application-number to replace application number in foreign invention claims -->
<!ELEMENT foreign-application-number  (#PCDATA) >

<!ATTLIST foreign-application-number
               label  CDATA    #FIXED "[Foreign Application No:] "
               class  CDATA    #FIXED "primitive"
                >

<!ELEMENT application-type   EMPTY  >

<!ATTLIST application-type
               label  CDATA    #FIXED "[Application Type:] "
               class  CDATA    #FIXED "type"
               values (utility | plant)  "utility" >

<!ELEMENT botanic-information  (latin-name,variety-denomination) >

<!ATTLIST botanic-information
               label  CDATA    #FIXED "[Botanic Information:] " >

<!ELEMENT latin-name  (#PCDATA) >

<!ATTLIST latin-name
               label  CDATA    #FIXED "[Latin Name:] " >

<!ELEMENT variety-denomination  (#PCDATA) >

<!ATTLIST variety-denomination
               label  CDATA    #FIXED "[Variety Denomination:] "
                >

<!ELEMENT publication-request-block  ((request-for-early-publication?,
               publication-filing-type,suggested-representative-figure?,
               application-confirmation-number?) | request-to-not-publish) >

<!ATTLIST publication-request-block
               label  CDATA    #FIXED "[Publication Request Block:] "
                >

<!ELEMENT request-for-early-publication   EMPTY  >

<!ATTLIST request-for-early-publication
               label  CDATA    #FIXED "[Request For Early Publication:] "
                >

<!ELEMENT publication-filing-type   EMPTY  >

<!ATTLIST publication-filing-type
               label  CDATA    #FIXED "[Publication Filing Type:] "

               values (new-utility | voluntary | original-publication-amended |
               original-publication-redacted | republication-amended |
               republication-redacted | corrected)  "new-utility"
                >

<!ELEMENT suggested-representative-figure  (#PCDATA) >

<!ATTLIST suggested-representative-figure
               label  CDATA    #FIXED "[Suggested Representative Figure:] "
                >

<!ELEMENT application-confirmation-number  (#PCDATA) >

<!ATTLIST application-confirmation-number
               label  CDATA    #FIXED "[Application Confirmation Number:] "
                >

<!ELEMENT request-to-not-publish   EMPTY  >

<!ATTLIST request-to-not-publish
               label  CDATA    #FIXED "[Request Not To Publish:] "
                >

<!ELEMENT inventor-block  (first-named-inventor,inventor*) >

<!ATTLIST inventor-block
               label  CDATA    #FIXED "[Inventor Block] "
               class  CDATA    #FIXED "div" >

<!ELEMENT first-named-inventor  (name,address?,residence,authority-applicant?) >

<!ATTLIST first-named-inventor
               label  CDATA    #FIXED "[First Named Inventor] "
               class  CDATA    #FIXED "signer" >

<!ELEMENT name  (name-prefix?,given-name?,middle-name?,family-name,name-suffix?) >

<!ATTLIST name
               label  CDATA    #FIXED "[Name:] "
               class  CDATA    #FIXED "name" >

<!ELEMENT name-prefix  (#PCDATA) >

<!ATTLIST name-prefix
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Name Prefix:] " >

<!ELEMENT given-name  (#PCDATA) >

<!ATTLIST given-name
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Given Name:] " >

<!ELEMENT middle-name  (#PCDATA) >

<!ATTLIST middle-name
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Middle Name:] " >

<!ELEMENT family-name  (#PCDATA) >

<!ATTLIST family-name
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Family Name:] " >

<!ELEMENT name-suffix  (#PCDATA) >

<!ATTLIST name-suffix
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Name Suffix:] " >

<!ELEMENT address  (address-1?,address-2?,city?,state?,postalcode?,country?,email*,
               telephone*,fax*) >

<!ATTLIST address
               label  CDATA    #FIXED "[Address:] " >

<!ELEMENT address-1  (#PCDATA) >

<!ATTLIST address-1
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Address:] " >

<!ELEMENT address-2  (#PCDATA) >

<!ATTLIST address-2
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Address:] " >

<!ELEMENT city  (#PCDATA) >

<!ATTLIST city
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[City:] " >

<!ELEMENT state  (#PCDATA) >

<!ATTLIST state
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[State or Province:] " >

<!ELEMENT postalcode  (#PCDATA) >

<!ATTLIST postalcode
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Postal Code:] " >

<!ELEMENT country  (country-code) >

<!ATTLIST country
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Country:] " >

<!ELEMENT country-code  (#PCDATA) >

<!ATTLIST country-code
               label  CDATA    #FIXED "[Country Code:] "
               class  CDATA    #FIXED "primitiv" >

<!ELEMENT email  (#PCDATA) >

<!ATTLIST email
               label  CDATA    #FIXED "[Email:] "
               class  CDATA    #FIXED "primitive"
               data-format  CDATA    #FIXED "?@?.?" >

<!ELEMENT telephone  (#PCDATA) >

<!ATTLIST telephone
               label  CDATA    #FIXED "[Telephone:] "
               class  CDATA    #FIXED "primitive"
               data-format  CDATA    #FIXED
               "###.###.####|###-###-####|##########|(###) ###-#####|011.##########"
                >

<!ELEMENT fax  (#PCDATA) >

<!ATTLIST fax
               label  CDATA    #FIXED "[Fax:] "
               class  CDATA    #FIXED "primitive" >

<!ELEMENT residence  (military-service | (us | non-us)) >

<!ATTLIST residence
               label  CDATA    #FIXED "[Residence:] " >

<!ELEMENT us     (city, state, country, citizenship?)>

<!ELEMENT non-us (city, country, citizenship?)>

<!ELEMENT military-service  (#PCDATA) >

<!ATTLIST military-service
               label  CDATA    #FIXED "[Military Service:] " >

<!ELEMENT citizenship  (#PCDATA) >

<!ATTLIST citizenship
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Citizenship:] " >

<!ELEMENT authority-applicant  (#PCDATA) >

<!ATTLIST authority-applicant
               label  CDATA    #FIXED "[Authority Applicant:] " >

<!ELEMENT inventor  (name,address?,residence,authority-applicant?) >

<!ATTLIST inventor
               label  CDATA    #FIXED "[Inventor] "
               class  CDATA    #FIXED "signer" >

<!ELEMENT attorney-docket-number  (#PCDATA) >

<!ATTLIST attorney-docket-number
               label  CDATA    #FIXED "[Attorney Docket No.:] "
               class  CDATA    #FIXED "primitive" >

<!ELEMENT correspondence-address  (name-1,name-2,address) >

<!ATTLIST correspondence-address
               label  CDATA    #FIXED "[Correspondence Address:] "
                >

<!ELEMENT name-1  (#PCDATA) >

<!ATTLIST name-1
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Name:] " >

<!ELEMENT name-2  (#PCDATA) >

<!ATTLIST name-2
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Name:] " >

<!ELEMENT assignee  (name?,organization-name?,address?) >

<!ATTLIST assignee
               label  CDATA    #FIXED "[Assignee] "
               certification  ENTITY    #IMPLIED
               certification-notation  NOTATION (tiff)   #IMPLIED
               alt  CDATA    #IMPLIED
               class  CDATA    #FIXED "signer" >

<!NOTATION tiff SYSTEM "" >

<!ELEMENT organization-name  (#PCDATA) >

<!ATTLIST organization-name
               class  CDATA    #FIXED "primitive"
               label  CDATA    #FIXED "[Organization Name:] " >

<!ELEMENT continuity-information  (continuity-data?,referenced-documents?,
               pct-information?,previous-publication-information?) >

<!ATTLIST continuity-information
               label  CDATA    #FIXED "[Continuity Information:] "
                >

<!ELEMENT continuity-data  (parent+) >

<!ATTLIST continuity-data
               id  ID    #REQUIRED
               label  CDATA    #FIXED "[Continuity Data:] " >

<!ELEMENT parent  ((this-application-is-a | which-is-a | and-which-is-a | (
               said-application,application-number,is-a)),(continuation-of |
               division-of | continuation-in-part-of |
               non-provisional-of-provisional | a-371-of-international |
               substitution-for | reexamination-of | reissue-of |
               continuing-reissue-of),(application-reference,(patent-reference |
               status-phrase)),parent*) >

<!ATTLIST parent
               label  CDATA    #FIXED "[Parent:] " >

<!ELEMENT this-application-is-a   EMPTY  >

<!ATTLIST this-application-is-a
               label  CDATA    #FIXED "This application is a " >

<!ELEMENT which-is-a   EMPTY  >

<!ATTLIST which-is-a
               label  CDATA    #FIXED "which is a " >

<!ELEMENT and-which-is-a   EMPTY  >

<!ATTLIST and-which-is-a
               label  CDATA    #FIXED "and which is a " >

<!ELEMENT said-application   EMPTY  >

<!ATTLIST said-application
               label  CDATA    #FIXED "said application " >

<!ELEMENT is-a   EMPTY  >

<!ATTLIST is-a
               label  CDATA    #FIXED "is a " >

<!ELEMENT continuation-of   EMPTY  >

<!ATTLIST continuation-of
               label  CDATA    #FIXED "continuation of " >

<!ELEMENT division-of   EMPTY  >

<!ATTLIST division-of
               label  CDATA    #FIXED "division of " >

<!ELEMENT continuation-in-part-of   EMPTY  >

<!ATTLIST continuation-in-part-of
               label  CDATA    #FIXED "continuation in part of "
                >

<!ELEMENT non-provisional-of-provisional   EMPTY  >

<!ATTLIST non-provisional-of-provisional
               label  CDATA    #FIXED "non-provisional of provisional "
                >

<!ELEMENT a-371-of-international   EMPTY  >

<!ATTLIST a-371-of-international
               label  CDATA    #FIXED "371 of international " >

<!ELEMENT substitution-for  EMPTY >

<!ATTLIST substitution-for
               label  CDATA    #FIXED "substitution for " >

<!ELEMENT reexamination-of  EMPTY >

<!ATTLIST reexamination-of
               label  CDATA    #FIXED "reexamination of " >

<!ELEMENT reissue-of  EMPTY >

<!ATTLIST reissue-of
               label  CDATA    #FIXED "reissue of " >

<!ELEMENT continuing-reissue-of   EMPTY  >

<!ATTLIST continuing-reissue-of
               label  CDATA    #FIXED "continuing reissue of " >

<!ELEMENT application-reference  (document-id) >

<!ATTLIST application-reference
               label  CDATA    #FIXED "[Application Reference:] "

               hytime  CDATA    #FIXED "hylink"
               class  CDATA    #FIXED "reference"
               status-of-application (abandoned | pending)  "pending"
                >

<!ELEMENT document-id  (doc-number,kind-code?,document-date?,country-code?) >

<!ATTLIST document-id
               label  CDATA    #FIXED "[Document ID:] "
               class  CDATA    #FIXED "primitiv" >

<!ELEMENT doc-number  (#PCDATA) >

<!ATTLIST doc-number
               label  CDATA    #FIXED "[Doc Number:] "
               class  CDATA    #FIXED "primitiv" >

<!ELEMENT kind-code  (#PCDATA) >

<!ATTLIST kind-code
               label  CDATA    #FIXED "[KIND Code:] "
               class  CDATA    #FIXED "primitiv" >

<!ELEMENT document-date  (#PCDATA) >

<!ATTLIST document-date
               label  CDATA    #FIXED "[Document Date:] "
               class  CDATA    #FIXED "primitive" >

<!ELEMENT patent-reference  (document-id) >

<!ATTLIST patent-reference
               label  CDATA    #FIXED "[Patent Reference:] "
               hytime  CDATA    #FIXED "hylink"
               class  CDATA    #FIXED "reference" >

<!ELEMENT status-phrase  (#PCDATA) >

<!ATTLIST status-phrase
               label  CDATA    #FIXED "[Status Phrase:] " >

<!ELEMENT referenced-documents  (document-id) >

<!ATTLIST referenced-documents
               label  CDATA    #FIXED "[Referenced Documents:] "
                >

<!ELEMENT pct-information  (document-id) >

<!ATTLIST pct-information
               label  CDATA    #FIXED "[PCT Information:] " >

<!ELEMENT previous-publication-information  (document-id) >

<!ATTLIST previous-publication-information
               label  CDATA    #FIXED "[Previous Publication Information:] "
                >

<!ELEMENT foreign-priority-benefits  (foreign-invention-claim+) >

<!ATTLIST foreign-priority-benefits
               label  CDATA    #FIXED "[Foreign Priority Benefits] "
                >

<!ELEMENT foreign-invention-claim  ((foreign-application-number|application-number),country,filing-date,(
               priority-claimed | priority-not-claimed)) >

<!ATTLIST foreign-invention-claim
               label  CDATA    #FIXED "[Foreign Invention Claim] "

               certified-copy  ENTITY    #IMPLIED
               certified-copy-notation  NOTATION (tiff)   #IMPLIED
               alt  CDATA    #IMPLIED  >

<!ELEMENT filing-date  (#PCDATA) >

<!ATTLIST filing-date
               label  CDATA    #FIXED "[Filing Date:] " >

<!ELEMENT priority-claimed   EMPTY  >

<!ATTLIST priority-claimed
               label  CDATA    #FIXED "[Priority Claimed] "
               class  CDATA    #FIXED "primitiv" >

<!ELEMENT priority-not-claimed   EMPTY  >

<!ATTLIST priority-not-claimed
               label  CDATA    #FIXED "[Priority Not Claimed] "
               class  CDATA    #FIXED "primitiv" >

<!ELEMENT bibd.appointment-block  (customer-number-representative |
               attorney-or-agent+ | representative-under-37-cfr-10.9?) >

<!ATTLIST bibd.appointment-block
               label  CDATA    #FIXED "[Appointment Block:] " >

<!ELEMENT customer-number-representative  (#PCDATA) >

<!ATTLIST customer-number-representative
               label  CDATA    #FIXED "[Customer Number For Representative:] "

               class  CDATA    #FIXED "primitive" >

<!ELEMENT attorney-or-agent  (name-prefix?,given-name,middle-name?,family-name,
               name-suffix?,representative-registration-number?) >

<!ATTLIST attorney-or-agent
               label  CDATA    #FIXED "[Attorney Or Agent] "
               class  CDATA    #FIXED "signer" >

<!ELEMENT representative-registration-number  (#PCDATA) >

<!ATTLIST representative-registration-number
               label  CDATA    #FIXED "[Representative Registration No.:] "

               class  CDATA    #FIXED "primitive" >

<!ELEMENT representative-under-37-cfr-10.9  (name-prefix?,given-name,middle-name?,
               family-name,name-suffix?) >

<!ATTLIST representative-under-37-cfr-10.9
               label  CDATA    #FIXED "[Representative Under 37 CFR 10.9] "

               class  CDATA    #FIXED "signer" >

<!ELEMENT customer-number-correspondence  (#PCDATA) >

<!ATTLIST customer-number-correspondence
               label  CDATA    #FIXED "[Customer Number For Correspondence:] "

               class  CDATA    #FIXED "primitive" >

<!ELEMENT application-filing-date  (#PCDATA) >

<!ATTLIST application-filing-date
               label  CDATA    #FIXED "[Application Filing Date (YYYY-MM-DD):] "

               class  CDATA    #FIXED "primitive"
               data-format  CDATA    #FIXED "YYYY-MM-DD" >

<!ELEMENT filing-as-small-entity   EMPTY  >

<!ATTLIST filing-as-small-entity
               class  CDATA    #FIXED "assertion"
               label  CDATA    #FIXED "[Filing As Small Entity.] "

               paper  ENTITY    #IMPLIED
               paper-notation (xml)   #IMPLIED
               reftype  CDATA    #FIXED
               "paper ( small-entity-b                        | small-entity-c                        | small-entity-d                        | small-entity-non-inventor                        )                 "

               alt  CDATA    #IMPLIED  >

<!NOTATION xml SYSTEM "" >
